@{
    ViewData["Title"] = "Home Page";
}

<h2>@ViewData["Title"]</h2>

<h4>Login to use service.</h4>
<h4>If you do not have an account — <a asp-area="Identity" asp-page="/Application/Index">submit</a> an application</h4>
<h4>If you cannot login — <a href="mailto:admin@admin.com">contact</a> administrator.</h4>