@page
@inject LocService SL
@model LockoutModel
@{
}

<header>
    <h1 class="text-danger">@SL.GetLocalizedHtmlString("Locked out")</h1>
    <p class="text-danger">@SL.GetLocalizedHtmlString("This account has been locked out, please try again later.")</p>
</header>
