@page
@inject LocService SL
@model LogoutModel
@{
}

<header>
    <h1>@SL.GetLocalizedHtmlString("Log out")</h1>
    <p>@SL.GetLocalizedHtmlString("You have successfully logged out of the application.")</p>
</header>